<div class="row ">
    <div class="cold-md-6 offset-3">

        <h1 class="text-info">Aradığınız Sayfa Bulunamadı</h1>
        <hr />
        <a class="btn btn-success"asp-controller="Movies" asp-action="Index" >Ana Sayfaya Dön</a>
    </div>

</div>